.clcsb-cont{
    height: 100%;
    width: 6vw;
    max-width: 6vw;
    background-color: #2879cfda;
    box-shadow: 1px 1px 4px #14344e;
};

.clcsb-icon-cont{
    display: block;
}

.fas{
    font-size: 1.5rem;
    color: white;
}

.fas:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.clcsb-icon{
    text-align: center;
    padding-top: 20px;

}