@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.chat-css{
    max-height: 100vh;
    background-color: black;
}