.clc-cont{
    display: flex;
    height: 100vh;
    background-color: #4393cc;
    width: 22vw;
    max-width: 22vw;
    box-shadow: 1px 1px 4px #14344e;
    
}

.cl-header{
    margin: 20px 10px;
}
.cl-header p{
    color: white;
    font-weight: 900;
}