.clc-cont{
    display: flex;
    height: 100%;
    background-color: #4393cc;
    width: 25.5%;
    box-shadow: 1px 1px 4px #14344e;
    
}

.cl-header{
    margin: 20px 0 0 15px;
}
.cl-header p{
    color: white;
    font-weight: 900;
}