.csearch-cont{
    padding: 20px 0;
    margin: auto;
}

.csearch-input-cont{
    background-color: transparent;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 4px #14344e;

}
.fa-search{
    font-size: 0.8rem;
    margin-top: 9px;
    margin-left: 5px;
}

.csearch-input-bx{
    background-color: transparent;
    color: white;
    border-style: none;
    outline: none;
    width: 85%;
    padding: 0 5px;
}

.csearch-input-bx::placeholder{
    color: rgba(255, 255, 255, 0.822);
}
